.typing-challenge-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.detail-section-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}
.real-challenge-section{
    display: flex;
    flex-grow: 1;
}