.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #1d2020;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 100;
}
.footer-text{
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}