.typing-challenge{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.timer-container{
  
    margin: 17px;
}
.timer{
    font-size: 40px;
    font-weight: 600px;
    margin: 0;
    text-align: center;
}
.timer-info{
    margin: 0px;
    margin-top: 5px;
    color: brown;
    text-align: center;
    font-size: 20px;
}
.text-area-container{
    margin: 16px;
    display: flex;
    width: 80%;
    flex-grow: 1;
}
.left-text-area,
.right-text-area{
    display: flex;
    width: 50%;
    flex-grow: 1;


    
}
.textarea{
    outline-color: #e9e7e4;
    text-align: left;
    height: 400px;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    line-height: 18px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
overflow: scroll;
transition: all 0.3s cubic-bezier();
}
.textarea::-webkit-scrollbar{
    display: none;
}
.textarea{
    scrollbar-width: none;
}
.textarea:hover{
    box-shadow: rgba(38, 29, 29, 0.337) 0px 20px 30px, rgba(40, 113, 182, 0.23) 0px 16px 16px;


}

.test-paragraph{
    padding: 12px;
    font-size: 12px;
    background: #e9e7e4;
}